<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p><a href="http://localhost:3000/static_pages/home">Home</p>
    <p><a href='http://localhost:3000/static_pages/help'>Help</p>
    <p><a href="http://localhost:3000/static_pages/about">About</p>
    <p><a href="http://localhost:3000/static_pages/contact">Contact</p>

    <img src="https://itekblog.com/wp-content/uploads/2012/07/railslogo.png"
  </body>
</html>
